application-workloads/identity-governance/byod-logic-app/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "metadata": {
        "description": "The name of the Logic App workflow that will be created to handle BYOD data uploads for Access Reviews."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for all deployed resources. Defaults to the resource group's location."
      }
    },
    "storageAccountName": {
      "type": "string",
      "metadata": {
        "description": "The name of the storage account to create. Files placed in its 'byod' container will be uploaded to Microsoft Graph during Access Reviews."
      }
    },
    "cloudEnvironment": {
      "type": "string",
      "defaultValue": "AzureCloud",
      "allowedValues": [
        "AzureCloud",
        "AzureUSGovernment",
        "AzureChinaCloud"
      ],
      "metadata": {
        "description": "The target Azure cloud environment. Determines ARM, Microsoft Graph, and STS issuer endpoints used throughout the template."
      }
    }
  },
  "variables": {
    "blobConnectionName": "[concat(parameters('logicAppName'), '-', parameters('storageAccountName'), '-connection')]",
    "possession": "[concat(resourceGroup().id, '/providers/Microsoft.Logic/workflows/', parameters('logicAppName'))]",
    "appId": "2829028a-b35b-42cc-86e3-517e751a3e2a",
    "arAppId": "d8c767ef-3e9a-48c4-aef9-562696539b39",
    "cloudConfig": {
      "AzureCloud": {
        "arm": "management.azure.com",
        "graph": "https://graph.microsoft.com",
        "issuer": "https://sts.windows.net/"
      },
      "AzureUSGovernment": {
        "arm": "management.usgovcloudapi.net",
        "graph": "https://graph.microsoft.us",
        "issuer": "https://sts.windows.net/"
      },
      "AzureChinaCloud": {
        "arm": "management.chinacloudapi.cn",
        "graph": "https://microsoftgraph.chinacloudapi.cn",
        "issuer": "https://sts.chinacloudapi.cn/"
      }
    },
    "cloud": "[variables('cloudConfig')[parameters('cloudEnvironment')]]"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2025-01-01",
      "name": "[parameters('storageAccountName')]",
      "location": "[parameters('location')]",
      "comments": "Storage account for BYOD blob data uploaded to Microsoft Graph during Access Reviews.",
      "sku": {
        "name": "Standard_RAGRS",
        "tier": "Standard"
      },
      "kind": "StorageV2",
      "properties": {
        "dnsEndpointType": "Standard",
        "defaultToOAuthAuthentication": false,
        "publicNetworkAccess": "Enabled",
        "allowCrossTenantReplication": false,
        "minimumTlsVersion": "TLS1_2",
        "allowBlobPublicAccess": false,
        "allowSharedKeyAccess": true,
        "largeFileSharesState": "Enabled",
        "networkAcls": {
          "bypass": "AzureServices",
          "defaultAction": "Allow"
        },
        "supportsHttpsTrafficOnly": true,
        "encryption": {
          "requireInfrastructureEncryption": false,
          "services": {
            "file": {
              "keyType": "Account",
              "enabled": true
            },
            "blob": {
              "keyType": "Account",
              "enabled": true
            }
          },
          "keySource": "Microsoft.Storage"
        },
        "accessTier": "Hot"
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices",
      "apiVersion": "2025-01-01",
      "name": "[concat(parameters('storageAccountName'), '/default')]",
      "comments": "Blob service configuration with soft-delete retention policies.",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
      ],
      "properties": {
        "containerDeleteRetentionPolicy": {
          "enabled": true,
          "days": 7
        },
        "deleteRetentionPolicy": {
          "allowPermanentDelete": false,
          "enabled": true,
          "days": 7
        }
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/fileServices",
      "apiVersion": "2025-01-01",
      "name": "[concat(parameters('storageAccountName'), '/default')]",
      "comments": "File service configuration with share soft-delete retention policy.",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
      ],
      "properties": {
        "shareDeleteRetentionPolicy": {
          "enabled": true,
          "days": 7
        }
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "apiVersion": "2025-01-01",
      "name": "[concat(parameters('storageAccountName'), '/default/byod')]",
      "comments": "Blob container where BYOD data files are placed for upload.",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccountName'), 'default')]"
      ],
      "properties": {
        "immutableStorageWithVersioning": {
          "enabled": false
        },
        "defaultEncryptionScope": "$account-encryption-key",
        "denyEncryptionScopeOverride": false,
        "publicAccess": "None"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('blobConnectionName')]",
      "location": "[parameters('location')]",
      "comments": "Managed identity-authenticated API connection to Azure Blob Storage.",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('blobConnectionName')]",
        "customParameterValues": {},
        "api": {
          "name": "azureblob",
          "displayName": "Azure Blob Storage",
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]",
          "type": "Microsoft.Web/locations/managedApis"
        },
        "parameterValueSet": {
          "name": "managedIdentityAuth",
          "values": {}
        },
        "testLinks": [
          {
            "requestUri": "[concat('https://', variables('cloud').arm, '/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/', variables('blobConnectionName'), '/extensions/proxy/testconnection?api-version=2016-06-01')]",
            "method": "get"
          }
        ]
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "comments": "Logic App that reads blobs and uploads them to Microsoft Graph for Access Reviews.",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('blobConnectionName'))]",
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
      ],
      "tags": {
        "Purpose": "Microsoft Entra Entitlement Management"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "graphEndpoint": {
              "type": "String",
              "defaultValue": "https://graph.microsoft.com"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reviewDefinitionId": {
                      "type": "string",
                      "description": "Definition Id for the Access Review"
                    },
                    "reviewInstanceId": {
                      "type": "string",
                      "description": "Instance Id for the Access Review"
                    },
                    "catalogId": {
                      "type": "string",
                      "description": "Id for the Catalog used in the Access Review"
                    },
                    "customDataProvidedResourceId": {
                      "type": "string",
                      "description": "Id used for the Disconnected App Resource in the Catalog"
                    },
                    "callbackDataType": {
                      "type": "string"
                    },
                    "triggerType": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reviewDefinitionId",
                    "reviewInstanceId",
                    "catalogId",
                    "customDataProvidedResourceId"
                  ]
                }
              },
              "operationOptions": "IncludeAuthorizationHeadersInOutputs"
            }
          },
          "actions": {
            "Initialize_variables": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "byod_session_id",
                    "type": "string"
                  }
                ]
              }
            },
            "Create-Upload-Session": {
              "runAfter": {
                "Initialize_variables": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "@{parameters('graphEndpoint')}/beta/identityGovernance/catalogs/@{triggerBody()?['catalogId']}/accessPackageResources/@{triggerBody()?['customDataProvidedResourceId']}/uploadSessions",
                "method": "POST",
                "headers": {
                  "Accept": "application/json",
                  "Content-Type": "application/json"
                },
                "body": {
                  "source": "BuildingAccessData",
                  "type": "#microsoft.graph.accessReviewDataUploadTriggerCallbackData",
                  "data": {
                    "@@odata.type": "#microsoft.graph.accessReviewInstance",
                    "accessReviewId": "@triggerBody()?['reviewDefinitionId']",
                    "accessReviewInstanceId": "@triggerBody()?['reviewInstanceId']"
                  }
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "@{parameters('graphEndpoint')}"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_BYOD_Response": {
              "runAfter": {
                "Create-Upload-Session": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Create-Upload-Session')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.context": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "isUploadDone": {
                      "type": "boolean"
                    },
                    "createdDateTime": {
                      "type": "string"
                    },
                    "expirationDateTime": {
                      "type": "string"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "filesUploaded": {
                          "type": "integer"
                        },
                        "totalBytesUploaded": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            },
            "Set_Session_Id": {
              "runAfter": {
                "Parse_BYOD_Response": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "byod_session_id",
                "value": "@body('Parse_BYOD_Response')?['id']"
              }
            },
            "List_Blobs": {
              "runAfter": {
                "Set_Session_Id": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "get",
                "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(''', parameters('storageAccountName'), '''))}/foldersV2/@{encodeURIComponent(encodeURIComponent(''/byod''))}')]"
              }
            },
            "For_each": {
              "foreach": "@body('List_Blobs')?['value']",
              "actions": {
                "Get_blob_content_(V2)": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(''', parameters('storageAccountName'), '''))}/files/@{encodeURIComponent(encodeURIComponent(items(''For_each'')?[''Path'']))}/content')]",
                    "queries": {
                      "inferContentType": false
                    }
                  }
                },
                "Compose_FileName": {
                  "runAfter": {
                    "Get_blob_content_(V2)": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "@last(split(items('For_each')?['Path'], '/'))"
                },
                "HTTP_Upload": {
                  "runAfter": {
                    "Compose_FileName": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "@{parameters('graphEndpoint')}/beta/identityGovernance/catalogs/@{triggerBody()?['catalogId']}/accessPackageResources/@{triggerBody()?['customDataProvidedResourceId']}/uploadSessions/@{variables('byod_session_id')}/uploadFile",
                    "method": "POST",
                    "headers": {
                      "Content-Type": "multipart/form-data; boundary=testboundary"
                    },
                    "body": "--testboundary\r\nContent-Disposition: form-data; name=\"file\"; filename=\"@{outputs('Compose_FileName')}\"\r\nContent-Type: application/octet-stream\r\n\r\n@{body('Get_blob_content_(V2)')}\r\n\r\n--testboundary--",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "@{parameters('graphEndpoint')}"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Delay": {
                  "runAfter": {
                    "HTTP_Upload": [
                      "Succeeded"
                    ]
                  },
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 5,
                      "unit": "Second"
                    }
                  }
                }
              },
              "runAfter": {
                "List_Blobs": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "End-Upload-Session": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "@{parameters('graphEndpoint')}/beta/identityGovernance/catalogs/@{triggerBody()?['catalogId']}/accessPackageResources/@{triggerBody()?['customDataProvidedResourceId']}/uploadSessions/@{variables('byod_session_id')}",
                "method": "PATCH",
                "headers": {
                  "Accept": "application/json"
                },
                "body": {
                  "isUploadDone": true
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "@{parameters('graphEndpoint')}"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "End-Upload-Session-copy": {
              "runAfter": {
                "For_each": [
                  "Failed"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "@{parameters('graphEndpoint')}/beta/identityGovernance/catalogs/@{triggerBody()?['catalogId']}/accessPackageResources/@{triggerBody()?['customDataProvidedResourceId']}/uploadSessions/@{variables('byod_session_id')}",
                "method": "PATCH",
                "headers": {
                  "Accept": "application/json"
                },
                "body": {
                  "isUploadDone": true
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "@{parameters('graphEndpoint')}"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('blobConnectionName'))]",
                "connectionName": "[variables('blobConnectionName')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          },
          "graphEndpoint": {
            "value": "[variables('cloud').graph]"
          }
        },
        "accessControl": {
          "triggers": {
            "SasAuthenticationPolicy": {
              "State": "Disabled"
            },
            "openAuthenticationPolicies": {
              "policies": {
                "EntraIDESIPOPAuthPolicy": {
                  "type": "AADPOP",
                  "claims": [
                    {
                      "name": "iss",
                      "value": "[concat(variables('cloud').issuer, subscription().tenantId, '/')]"
                    },
                    {
                      "name": "aud",
                      "value": "[concat('https://', variables('cloud').arm)]"
                    },
                    {
                      "name": "appid",
                      "value": "[variables('appId')]"
                    },
                    {
                      "name": "m",
                      "value": "POST"
                    },
                    {
                      "name": "u",
                      "value": "[variables('cloud').arm]"
                    },
                    {
                      "name": "p",
                      "value": "[variables('possession')]"
                    }
                  ]
                },
                "EntraIDAccessReviewsPOPAuthPolicy": {
                  "type": "AADPOP",
                  "claims": [
                    {
                      "name": "iss",
                      "value": "[concat(variables('cloud').issuer, subscription().tenantId, '/')]"
                    },
                    {
                      "name": "aud",
                      "value": "[concat('https://', variables('cloud').arm)]"
                    },
                    {
                      "name": "appid",
                      "value": "[variables('arAppId')]"
                    },
                    {
                      "name": "m",
                      "value": "POST"
                    },
                    {
                      "name": "u",
                      "value": "[variables('cloud').arm]"
                    },
                    {
                      "name": "p",
                      "value": "[variables('possession')]"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Authorization/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), parameters('logicAppName'), 'blobRole')]",
      "comments": "Grants the Logic App's managed identity Storage Blob Data Reader access on the storage account.",
      "scope": "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]",
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]",
        "principalType": "ServicePrincipal"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]",
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
      ]
    }
  ]
}
