201-logic-app-as2-send-receive/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "contosoIntegrationAccountName": {
      "type": "string",
      "defaultValue": "ContosoIntegrationAccount",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Integration Account."
      }
    },
    "fabrikamIntegrationAccountName": {
      "type": "string",
      "defaultValue": "FabrikamIntegrationAccount",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Integration Account."
      }
    },
    "contosoAS2ReceiveLogicAppName": {
      "type": "string",
      "defaultValue": "Contoso-AS2Receive",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "fabrikamSalesAS2SendLogicAppName": {
      "type": "string",
      "defaultValue": "FabrikamSales-AS2Send",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "fabrikamFinanceAS2SendLogicAppName": {
      "type": "string",
      "defaultValue": "FabrikamFinance-AS2Send",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "fabrikamFinanceAS2ReceiveMDNLogicAppName": {
      "type": "string",
      "defaultValue": "FabrikamFinance-AS2ReceiveMDN",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "australiaeast",
        "australiasoutheast",
        "brazilsouth",
        "centralus",
        "eastasia",
        "eastus",
        "eastus2",
        "japaneast",
        "japanwest",
        "northcentralus",
        "northeurope",
        "southcentralus",
        "southeastasia",
        "westeurope",
        "westus"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "contoso_AS2_Connection_Name": {
      "type": "string",
      "defaultValue": "Contoso-AS2",
      "metadata": {
        "description": "Name of the AS2 connection."
      }
    },
    "fabrikam_AS2_Connection_Name": {
      "type": "string",
      "defaultValue": "Fabrikam-AS2",
      "metadata": {
        "description": "Name of the AS2 connection."
      }
    }
  },
  "variables": { },
  "resources": [
    {
      "properties": { },
      "sku": {
        "name": "Standard"
      },
      "tags": {
        "displayName": "Contoso Integration Account"
      },
      "name": "[parameters('contosoIntegrationAccountName')]",
      "type": "Microsoft.Logic/integrationAccounts",
      "location": "[parameters('logicAppLocation')]",
      "apiVersion": "2016-06-01"
    },
    {
      "properties": { },
      "sku": {
        "name": "Standard"
      },
      "tags": {
        "displayName": "Fabrikam Integration Account"
      },
      "name": "[parameters('fabrikamIntegrationAccountName')]",
      "type": "Microsoft.Logic/integrationAccounts",
      "location": "[parameters('logicAppLocation')]",
      "apiVersion": "2016-06-01"
    },
    {
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "99"
              },
              {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            ]
          }
        }
      },
      "name": "[concat(parameters('contosoIntegrationAccountName'), '/Contoso')]",
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('contosoIntegrationAccountName')]"
      ]
    },
    {
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "99"
              },
              {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            ]
          }
        }
      },
      "name": "[concat(parameters('fabrikamIntegrationAccountName'), '/Contoso')]",
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('fabrikamIntegrationAccountName')]"
      ]
    },
    {
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "98"
              },
              {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              }
            ]
          }
        }
      },
      "name": "[concat(parameters('contosoIntegrationAccountName'), '/FabrikamSales')]",
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('contosoIntegrationAccountName')]"
      ]
    },
    {
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "98"
              },
              {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              }
            ]
          }
        }
      },
      "name": "[concat(parameters('fabrikamIntegrationAccountName'), '/FabrikamSales')]",
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('fabrikamIntegrationAccountName')]"
      ]
    },
    {
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "97"
              },
              {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              }
            ]
          }
        }
      },
      "name": "[concat(parameters('contosoIntegrationAccountName'), '/FabrikamFinance')]",
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('contosoIntegrationAccountName')]"
      ]
    },
    {
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "97"
              },
              {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              }
            ]
          }
        }
      },
      "name": "[concat(parameters('fabrikamIntegrationAccountName'), '/FabrikamFinance')]",
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('fabrikamIntegrationAccountName')]"
      ]
    },
    {
      "properties": {
        "hostPartner": "Contoso",
        "guestPartner": "FabrikamSales",
        "hostIdentity": {
          "qualifier": "AS2Identity",
          "value": "Contoso"
        },
        "guestIdentity": {
          "qualifier": "AS2Identity",
          "value": "FabrikamSales"
        },
        "agreementType": "AS2",
        "content": {
          "aS2": {
            "receiveAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMDN": false,
                  "signMDN": false,
                  "sendMDNAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMDNIfOptional": false,
                  "sendInboundMDNToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNRRForInboundEncodedMessages": false,
                  "enableNRRForInboundDecodedMessages": false,
                  "enableNRRForOutboundMDN": false,
                  "enableNRRForOutboundEncodedMessages": false,
                  "enableNRRForOutboundDecodedMessages": false,
                  "enableNRRForInboundMDN": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMDNNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            },
            "sendAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMDN": false,
                  "signMDN": false,
                  "sendMDNAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMDNIfOptional": false,
                  "sendInboundMDNToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNRRForInboundEncodedMessages": false,
                  "enableNRRForInboundDecodedMessages": false,
                  "enableNRRForOutboundMDN": false,
                  "enableNRRForOutboundEncodedMessages": false,
                  "enableNRRForOutboundDecodedMessages": false,
                  "enableNRRForInboundMDN": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMDNNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              }
            }
          }
        }
      },
      "name": "[concat(parameters('contosoIntegrationAccountName'), '/Contoso-FabrikamSales')]",
      "type": "Microsoft.Logic/integrationAccounts/agreements",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('contosoIntegrationAccountName')]"
      ]
    },
    {
      "properties": {
        "hostPartner": "FabrikamSales",
        "guestPartner": "Contoso",
        "hostIdentity": {
          "qualifier": "AS2Identity",
          "value": "FabrikamSales"
        },
        "guestIdentity": {
          "qualifier": "AS2Identity",
          "value": "Contoso"
        },
        "agreementType": "AS2",
        "content": {
          "aS2": {
            "receiveAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMDN": false,
                  "signMDN": false,
                  "sendMDNAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMDNIfOptional": false,
                  "sendInboundMDNToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNRRForInboundEncodedMessages": false,
                  "enableNRRForInboundDecodedMessages": false,
                  "enableNRRForOutboundMDN": false,
                  "enableNRRForOutboundEncodedMessages": false,
                  "enableNRRForOutboundDecodedMessages": false,
                  "enableNRRForInboundMDN": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMDNNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              }
            },
            "sendAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMDN": true,
                  "signMDN": false,
                  "sendMDNAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMDNIfOptional": false,
                  "sendInboundMDNToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNRRForInboundEncodedMessages": false,
                  "enableNRRForInboundDecodedMessages": false,
                  "enableNRRForOutboundMDN": false,
                  "enableNRRForOutboundEncodedMessages": false,
                  "enableNRRForOutboundDecodedMessages": false,
                  "enableNRRForInboundMDN": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMDNNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            }
          }
        }
      },
      "name": "[concat(parameters('fabrikamIntegrationAccountName'), '/FabrikamSales-Contoso')]",
      "type": "Microsoft.Logic/integrationAccounts/agreements",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('fabrikamIntegrationAccountName')]"
      ]
    },
    {
      "properties": {
        "hostPartner": "Contoso",
        "guestPartner": "FabrikamFinance",
        "hostIdentity": {
          "qualifier": "AS2Identity",
          "value": "Contoso"
        },
        "guestIdentity": {
          "qualifier": "AS2Identity",
          "value": "FabrikamFinance"
        },
        "agreementType": "AS2",
        "content": {
          "aS2": {
            "receiveAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMDN": false,
                  "signMDN": false,
                  "sendMDNAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMDNIfOptional": false,
                  "sendInboundMDNToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNRRForInboundEncodedMessages": false,
                  "enableNRRForInboundDecodedMessages": false,
                  "enableNRRForOutboundMDN": false,
                  "enableNRRForOutboundEncodedMessages": false,
                  "enableNRRForOutboundDecodedMessages": false,
                  "enableNRRForInboundMDN": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMDNNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            },
            "sendAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMDN": false,
                  "signMDN": false,
                  "sendMDNAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMDNIfOptional": false,
                  "sendInboundMDNToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNRRForInboundEncodedMessages": false,
                  "enableNRRForInboundDecodedMessages": false,
                  "enableNRRForOutboundMDN": false,
                  "enableNRRForOutboundEncodedMessages": false,
                  "enableNRRForOutboundDecodedMessages": false,
                  "enableNRRForInboundMDN": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMDNNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              }
            }
          }
        }
      },
      "name": "[concat(parameters('contosoIntegrationAccountName'), '/Contoso-FabrikamFinance')]",
      "type": "Microsoft.Logic/integrationAccounts/agreements",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('contosoIntegrationAccountName')]"
      ]
    },
    {
      "name": "[parameters('contosoAS2ReceiveLogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "Contoso AS2 Receive"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "state": "Enabled",
        "integrationAccount": {
          "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName'))]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Check_MDN_Expected": {
              "type": "If",
              "expression": "@equals(body('Decode_AS2_message')?['AS2Message']?['MdnExpected'], 'Expected')",
              "actions": {
                "Check_MDN_Type": {
                  "type": "If",
                  "expression": "@equals(body('Decode_AS2_message')?['OutgoingMdn']?['MdnType'], 'Async')",
                  "actions": {
                    "Send_200_OK_for_Async_MDN": {
                      "type": "Response",
                      "inputs": {
                        "statusCode": 200
                      },
                      "runAfter": { }
                    },
                    "Send_Async_MDN": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@{body('Decode_AS2_message')?['OutgoingMdn']?['ReceiptDeliveryOption']}",
                        "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                        "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])"
                      },
                      "runAfter": {
                        "Send_200_OK_for_Async_MDN": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": { },
                  "else": {
                    "actions": {
                      "Send_Sync_MDN": {
                        "type": "Response",
                        "inputs": {
                          "statusCode": 200,
                          "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                          "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])"
                        },
                        "runAfter": { }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Decode_AS2_message": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_200_OK": {
                    "type": "Response",
                    "inputs": {
                      "statusCode": 200
                    },
                    "runAfter": { }
                  }
                }
              }
            },
            "Decode_AS2_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "[concat('https://logic-apis-', parameters('logicAppLocation'), '.azure-apim.net/apim/as2')]"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['as2']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()",
                "path": "/decode",
                "headers": "@triggerOutputs()['headers']"
              },
              "runAfter": { }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": { },
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": { }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": { }
        },
        "parameters": {
          "$connections": {
            "value": {
              "as2": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'as2')]",
                "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('contoso_AS2_Connection_Name'))]",
                "connectionName": "[parameters('contoso_AS2_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[parameters('contosoIntegrationAccountName')]",
        "[resourceId('Microsoft.Web/connections', parameters('contoso_AS2_Connection_Name'))]"
      ]
    },
    {
      "name": "[parameters('fabrikamSalesAS2SendLogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "Fabrikam Sales AS2 Send"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "state": "Enabled",
        "integrationAccount": {
          "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "HTTP": {
              "inputs": {
                "method": "POST",
                "uri": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('contosoAS2ReceiveLogicAppName')), '/triggers/manual'), '2016-06-01').value]",
                "headers": {
                  "AS2-From": "FabrikamSales",
                  "AS2-To": "Contoso",
                  "Message-Id": "@guid()",
                  "content-type": "text/plain"
                },
                "body": "Fabrikam Sales - sample message"
              },
              "runAfter": { },
              "type": "Http"
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": { },
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": { }
        },
        "parameters": {
          "$connections": {
            "value": {
              "as2": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'as2')]",
                "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('fabrikam_AS2_Connection_Name'))]",
                "connectionName": "[parameters('fabrikam_AS2_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[parameters('fabrikamIntegrationAccountName')]",
        "[resourceId('Microsoft.Web/connections', parameters('fabrikam_AS2_Connection_Name'))]",
        "[parameters('contosoAS2ReceiveLogicAppName')]"
      ]
    },
    {
      "name": "[parameters('fabrikamFinanceAS2SendLogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "Fabrikam Finance AS2 Send"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "state": "Enabled",
        "integrationAccount": {
          "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Encode_to_AS2_message": {
              "inputs": {
                "body": "Fabrikam Finance - sample message",
                "host": {
                  "api": {
                    "runtimeUrl": "[concat('https://logic-apis-', parameters('logicAppLocation'), '.azure-apim.net/apim/as2')]"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['as2']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/encode",
                "queries": {
                  "as2From": "FabrikamFinance",
                  "as2To": "Contoso"
                }
              },
              "runAfter": { },
              "type": "ApiConnection"
            },
            "HTTP": {
              "inputs": {
                "body": "@base64ToBinary(body('Encode_to_AS2_message')?['AS2Message']?['Content'])",
                "headers": "@body('Encode_to_AS2_message')?['AS2Message']?['OutboundHeaders']",
                "method": "POST",
                "uri": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('contosoAS2ReceiveLogicAppName')), '/triggers/manual'), '2016-06-01').value]"
              },
              "runAfter": {
                "Encode_to_AS2_message": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": { },
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": { }
        },
        "parameters": {
          "$connections": {
            "value": {
              "as2": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'as2')]",
                "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('fabrikam_AS2_Connection_Name'))]",
                "connectionName": "[parameters('fabrikam_AS2_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[parameters('fabrikamIntegrationAccountName')]",
        "[resourceId('Microsoft.Web/connections', parameters('fabrikam_AS2_Connection_Name'))]",
        "[parameters('contosoAS2ReceiveLogicAppName')]"
      ]
    },
    {
      "name": "[parameters('fabrikamFinanceAS2ReceiveMDNLogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "Fabrikam Finance AS2 Receive MDN"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "state": "Enabled",
        "integrationAccount": {
          "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Decode_AS2_message": {
              "runAfter": { },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "[concat('https://logic-apis-', parameters('logicAppLocation'), '.azure-apim.net/apim/as2')]"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['as2']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()",
                "path": "/decode",
                "headers": "@triggerOutputs()['headers']"
              }
            },
            "Response": {
              "inputs": {
                "statusCode": 200
              },
              "runAfter": {
                "Decode_AS2_message": [
                  "Succeeded"
                ]
              },
              "type": "Response"
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": { },
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": { }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": { }
        },
        "parameters": {
          "$connections": {
            "value": {
              "as2": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'as2')]",
                "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('fabrikam_AS2_Connection_Name'))]",
                "connectionName": "[parameters('fabrikam_AS2_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[parameters('fabrikamIntegrationAccountName')]",
        "[resourceId('Microsoft.Web/connections', parameters('fabrikam_AS2_Connection_Name'))]",
        "[parameters('contosoAS2ReceiveLogicAppName')]"
      ]
    },
    {
      "properties": {
        "hostPartner": "FabrikamFinance",
        "guestPartner": "Contoso",
        "hostIdentity": {
          "qualifier": "AS2Identity",
          "value": "FabrikamFinance"
        },
        "guestIdentity": {
          "qualifier": "AS2Identity",
          "value": "Contoso"
        },
        "agreementType": "AS2",
        "content": {
          "aS2": {
            "receiveAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMDN": false,
                  "signMDN": false,
                  "sendMDNAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMDNIfOptional": false,
                  "sendInboundMDNToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNRRForInboundEncodedMessages": false,
                  "enableNRRForInboundDecodedMessages": false,
                  "enableNRRForOutboundMDN": false,
                  "enableNRRForOutboundEncodedMessages": false,
                  "enableNRRForOutboundDecodedMessages": false,
                  "enableNRRForInboundMDN": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMDNNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              }
            },
            "sendAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMDN": true,
                  "signMDN": false,
                  "sendMDNAsynchronously": true,
                  "receiptDeliveryUrl": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('fabrikamFinanceAS2ReceiveMDNLogicAppName')), '/triggers/manual'), '2016-06-01').value]",
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMDNIfOptional": false,
                  "sendInboundMDNToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNRRForInboundEncodedMessages": false,
                  "enableNRRForInboundDecodedMessages": false,
                  "enableNRRForOutboundMDN": false,
                  "enableNRRForOutboundEncodedMessages": false,
                  "enableNRRForOutboundDecodedMessages": false,
                  "enableNRRForInboundMDN": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMDNNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            }
          }
        }
      },
      "name": "[concat(parameters('fabrikamIntegrationAccountName'), '/FabrikamFinance-Contoso')]",
      "type": "Microsoft.Logic/integrationAccounts/agreements",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[parameters('fabrikamIntegrationAccountName')]",
        "[parameters('fabrikamFinanceAS2ReceiveMDNLogicAppName')]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('contoso_AS2_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'as2')]"
        },
        "displayName": "Contoso AS2 connection",
        "parameterValues": {
          "integrationAccountId": "[concat(resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName')))]",
          "integrationAccountUrl": "[listCallbackURL(concat(resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName'))), '2016-06-01').value]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('fabrikam_AS2_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'as2')]"
        },
        "displayName": "Fabrikam AS2 connection",
        "parameterValues": {
          "integrationAccountId": "[concat(resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName')))]",
          "integrationAccountUrl": "[listCallbackURL(concat(resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))), '2016-06-01').value]"
        }
      }
    }
  ],
  "outputs": { }
}