application-workloads/byod-logic-app/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",

  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
          "description": "The Azure Region which should be targeted while provisioning the infrastructure described in this template."
        }
    },

    "storageAccountName": {
      "type": "string",
       "metadata": {
          "description": "The name of the storage account where files will be uploaded."
        }
    },

    "logicAppName": {
      "type": "string",
       "metadata": {
          "description": "The name of the logic app to be created."
        }
    },

    "connections_azureblob_name": {
      "type": "string",
       "metadata": {
          "description": "The name of the Azure Blob connection."
        }
    }
  },

  "variables": {},

  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2025-01-01",
      "name": "[parameters('storageAccountName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "Standard_RAGRS",
        "tier": "Standard"
      },
      "kind": "StorageV2",
      "properties": {
        "dnsEndpointType": "Standard",
        "defaultToOAuthAuthentication": false,
        "publicNetworkAccess": "Enabled",
        "allowCrossTenantReplication": false,
        "minimumTlsVersion": "TLS1_2",
        "allowBlobPublicAccess": false,
        "allowSharedKeyAccess": true,
        "largeFileSharesState": "Enabled",
        "networkAcls": {
          "bypass": "AzureServices",
          "defaultAction": "Allow"
        },
        "supportsHttpsTrafficOnly": true,
        "encryption": {
          "requireInfrastructureEncryption": false,
          "services": {
            "file": { "keyType": "Account", "enabled": true },
            "blob": { "keyType": "Account", "enabled": true }
          },
          "keySource": "Microsoft.Storage"
        },
        "accessTier": "Hot"
      }
    },

    {
      "type": "Microsoft.Storage/storageAccounts/blobServices",
      "apiVersion": "2025-01-01",
      "name": "[concat(parameters('storageAccountName'), '/default')]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
      ],
      "sku": {
        "name": "Standard_RAGRS",
        "tier": "Standard"
      },
      "properties": {
        "containerDeleteRetentionPolicy": {
          "enabled": true,
          "days": 7
        },
        "deleteRetentionPolicy": {
          "allowPermanentDelete": false,
          "enabled": true,
          "days": 7
        }
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/fileServices",
      "apiVersion": "2025-01-01",
      "name": "[concat(parameters('storageAccountName'), '/default')]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
      ],
      "sku": { "name": "Standard_RAGRS", "tier": "Standard" },
      "properties": {
        "shareDeleteRetentionPolicy": { "enabled": true, "days": 7 }
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "apiVersion": "2025-01-01",
      "name": "[concat(parameters('storageAccountName'), '/default/byod')]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccountName'), 'default')]",
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
      ],
      "properties": {
        "immutableStorageWithVersioning": { "enabled": false },
        "defaultEncryptionScope": "$account-encryption-key",
        "denyEncryptionScopeOverride": false,
        "publicAccess": "None"
      }
    },
   {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azureblob_name')]",
            "location": "[parameters('location')]",
            "kind": "V1",
            "properties": {
                "displayName": "templatetest",
                "customParameterValues": {},
                "api": {
                    "name": "azureblob",
                    "displayName": "Azure Blob Storage",
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "parameterValueSet": {
                    "name": "managedIdentityAuth",
                    "values": {}
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/', parameters('connections_azureblob_name'), '/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            }
        },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
                "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                "contentVersion": "1.0.0.0",
                "triggers": {
                    "manual": {
                        "type": "Request",
                        "kind": "Http",
                        "inputs": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "definitionId": {
                                        "type": "string",
                                        "description": "Definition Id for the Access Review"
                                    },
                                    "catalogId": {
                                        "type": "string",
                                        "description": "Id for the Catalog used in the Access Review"
                                    },
                                    "resourceId": {
                                        "type": "string",
                                        "description": "Id used for the Disconnected App Resource in the Catalog"
                                    },
                                    "filePaths": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "Full blob file paths for files to be uploaded"
                                    }
                                },
                                "required": [
                                    "definitionId",
                                    "catalogId",
                                    "resourceId",
                                    "filePaths"
                                ]
                            }
                        },
                        "operationOptions": "IncludeAuthorizationHeadersInOutputs"
                    }
                },
                "actions": {
                    "Get_Access_Review": {
                        "runAfter": {
                            "Initialize_variables": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "https://graph.microsoft.com/beta/identityGovernance/accessReviews/definitions/@{triggerBody()?['definitionId']}/instances?$select=id,status,startDateTime&$orderby=startDateTime desc&$top=1",
                            "method": "GET",
                            "headers": {
                                "Accept": "application/json",
                                "x-accessreviews-version": "vnext"
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://graph.microsoft.com"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Parse_JSON": {
                        "runAfter": {
                            "Get_Access_Review": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Get_Access_Review')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@@odata.context": {
                                        "type": "string"
                                    },
                                    "value": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "startDateTime": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "startDateTime",
                                                "status"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Initialize_variables": {
                        "runAfter": {},
                        "type": "InitializeVariable",
                        "inputs": {
                            "variables": [
                                {
                                    "name": "ar_id",
                                    "type": "string",
                                    "value": "empty"
                                },
                                {
                                    "name": "ar_status",
                                    "type": "string",
                                    "value": "empty"
                                },
                                {
                                    "name": "byod_session_id",
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    "Set_Ar_Id": {
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                            "name": "ar_id",
                            "value": "@body('Parse_JSON')?['value'][0]?['id']"
                        }
                    },
                    "Set_Ar_Status": {
                        "runAfter": {
                            "Set_Ar_Id": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                            "name": "ar_status",
                            "value": "empty"
                        }
                    },
                    "Until": {
                        "actions": {
                            "Poll_Access_Review": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/beta/identityGovernance/accessReviews/definitions/@{triggerBody()?['definitionId']}/instances/@{variables('ar_id')}?$select=id,status",
                                    "method": "GET",
                                    "headers": {
                                        "Accept": "application/json",
                                        "x-accessreviews-version": "vnext"
                                    },
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "audience": "https://graph.microsoft.com"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "Poll_Ar_Id": {
                                "runAfter": {
                                    "Poll_Access_Review": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "ar_id",
                                    "value": "@body('Poll_Access_Review')?['id']"
                                }
                            },
                            "Poll_Ar_Status": {
                                "runAfter": {
                                    "Poll_Ar_Id": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "ar_status",
                                    "value": "@body('Poll_Access_Review')?['status']"
                                }
                            }
                        },
                        "runAfter": {
                            "Set_Ar_Status": [
                                "Succeeded"
                            ]
                        },
                        "expression": "@equals(variables('ar_status'), 'Initializing')",
                        "limit": {
                            "count": 60,
                            "timeout": "PT1H"
                        },
                        "type": "Until"
                    },
                    "Create-Upload-Session": {
                        "runAfter": {
                            "Delay_1": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "https://graph.microsoft.com/beta/identityGovernance/catalogs/@{triggerBody()?['catalogId']}/accessPackageResources/@{triggerBody()?['resourceId']}/uploadSessions",
                            "method": "POST",
                            "headers": {
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                            "body": {
                                "source": "BuildingAccessData",
                                "type": "#microsoft.graph.accessReviewDataUploadTriggerCallbackData",
                                "data": {
                                    "@@odata.type": "#microsoft.graph.accessReviewInstance",
                                    "accessReviewId": "@triggerBody()?['definitionId']",
                                    "accessReviewInstanceId": "@variables('ar_id')"
                                }
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://graph.microsoft.com"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Parse_BYOD_Response": {
                        "runAfter": {
                            "Create-Upload-Session": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Create-Upload-Session')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "@@odata.context": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "string"
                                    },
                                    "isUploadDone": {
                                        "type": "boolean"
                                    },
                                    "createdDateTime": {
                                        "type": "string"
                                    },
                                    "expirationDateTime": {
                                        "type": "string"
                                    },
                                    "stats": {
                                        "type": "object",
                                        "properties": {
                                            "filesUploaded": {
                                                "type": "integer"
                                            },
                                            "totalBytesUploaded": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Set_Session_Id": {
                        "runAfter": {
                            "Parse_BYOD_Response": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                            "name": "byod_session_id",
                            "value": "@body('Parse_BYOD_Response')?['id']"
                        }
                    },
                    "For_each": {
                        "foreach": "@triggerBody()?['filePaths']",
                        "actions": {
                            "Get_blob_content_(V2)": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "[concat('/v2/datasets/@{encodeURIComponent(encodeURIComponent(''', parameters('storageAccountName'), '''))}/files/@{encodeURIComponent(encodeURIComponent(items(''For_each'')))}/content')]",
                                    "queries": {
                                        "inferContentType": false
                                    }
                                }
                            },
                            "Compose_FileName": {
                                "runAfter": {
                                    "Get_blob_content_(V2)": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Compose",
                                "inputs": "@last(split(items('For_each'), '/'))"
                            },
                            "HTTP_Upload": {
                                "runAfter": {
                                    "Compose_FileName": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/beta/identityGovernance/catalogs/@{triggerBody()?['catalogId']}/accessPackageResources/@{triggerBody()?['resourceId']}/uploadSessions/@{variables('byod_session_id')}/uploadFile",
                                    "method": "POST",
                                    "headers": {
                                        "Content-Type": "multipart/form-data; boundary=testboundary"
                                    },
                                    "body": "--testboundary\r\nContent-Disposition: form-data; name=\"file\"; filename=\"@{outputs('Compose_FileName')}\"\r\nContent-Type: application/octet-stream\r\n\r\n@{body('Get_blob_content_(V2)')}\r\n\r\n--testboundary--",
                                    "authentication": {
                                        "type": "ManagedServiceIdentity",
                                        "audience": "https://graph.microsoft.com"
                                    }
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "Delay": {
                                "runAfter": {
                                    "HTTP_Upload": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Wait",
                                "inputs": {
                                    "interval": {
                                        "count": 10,
                                        "unit": "Second"
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Delay_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach",
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 1
                            }
                        }
                    },
                    "End-Upload-Session": {
                        "runAfter": {
                            "For_each": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "https://graph.microsoft.com/beta/identityGovernance/catalogs/@{triggerBody()?['catalogId']}/accessPackageResources/@{triggerBody()?['resourceId']}/uploadSessions/@{variables('byod_session_id')}",
                            "method": "PATCH",
                            "headers": {
                                "Accept": "application/json"
                            },
                            "body": {
                                "isUploadDone": true
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://graph.microsoft.com"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "End-Upload-Session-copy": {
                        "runAfter": {
                            "For_each": [
                                "Failed"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "uri": "https://graph.microsoft.com/beta/identityGovernance/catalogs/@{triggerBody()?['catalogId']}/accessPackageResources/@{triggerBody()?['resourceId']}/uploadSessions/@{variables('byod_session_id')}",
                            "method": "PATCH",
                            "headers": {
                                "Accept": "application/json"
                            },
                            "body": {
                                "isUploadDone": true
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "audience": "https://graph.microsoft.com"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Delay_1": {
                        "runAfter": {
                            "Until": [
                                "Succeeded"
                            ]
                        },
                        "type": "Wait",
                        "inputs": {
                            "interval": {
                                "count": 30,
                                "unit": "Second"
                            }
                        }
                    },
                    "Delay_2": {
                        "runAfter": {
                            "Set_Session_Id": [
                                "Succeeded"
                            ]
                        },
                        "type": "Wait",
                        "inputs": {
                            "interval": {
                                "count": 10,
                                "unit": "Second"
                            }
                        }
                    }
                },
                "outputs": {},
                "parameters": {
                    "$connections": {
                        "type": "Object",
                        "defaultValue": {}
                    }
                }
            },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                "connectionName": "[parameters('connections_azureblob_name')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    },   
    {
        "type": "Microsoft.Authorization/roleAssignments",
        "apiVersion": "2022-04-01",
        "name": "[guid(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName')), parameters('logicAppName'), 'blobRole')]",
        "scope": "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]",
        "properties": {
            "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'ba92f5b4-2d11-453d-a403-e96b0029c9fe')]", 
            "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'Full').identity.principalId]",
            "principalType": "ServicePrincipal"
        },
        "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]",
            "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
        ]
    }  
  ]

}
