201-custom-rp-create-ticket-in-deployment/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "type": "string",
            "allowedValues": [
                "australiaeast",
                "eastus",
                "westeurope"
            ],
            "metadata": {
                "description": "Location for the resources."
            }
        },
        "serviceNowInstance": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "The service now instance name."
            }
        },
        "serviceNowUserName": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "The service now user name."
            }
        },
        "serviceNowPassword": {
            "type": "securestring",
            "defaultValue": "",
            "metadata": {
                "description": "The service now password."
            }
        },
        "serviceNowConnectionName": {
            "type": "string",
            "defaultValue": "[uniqueString(resourceGroup().id)]",
            "metadata": {
                "description": "Name of the logic app service now connector to be created."
            }
        },
        "logicAppName": {
            "type": "string",
            "defaultValue": "[uniqueString(resourceGroup().id)]",
            "metadata": {
                "description": "Name of the logic app to be created."
            }
        },
        "customResourceProviderName": {
            "type": "string",
            "defaultValue": "[uniqueString(resourceGroup().id)]",
            "metadata": {
                "description": "Name of the custom provider to be created."
            }
        },
        "customResourceProviderId": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "The resource id of an existing custom provider. Provide this to skip deployment of new logic app and custom provider."
            }
        },
        "associationName": {
            "type": "string",
            "defaultValue": "myDemoCustomResource",
            "metadata": {
                "description": "Name of the custom resource that is being created."
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.Resources/deployments",
            "apiVersion": "2017-05-10",
            "condition": "[empty(parameters('customResourceProviderId'))]",
            "name": "customProviderInfrastructureTemplate",
            "properties": {
                "mode": "Incremental",
                "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "logicAppName": {
                            "type": "string"
                        },
                        "serviceNowInstance": {
                            "type": "string"
                        },
                        "serviceNowUserName": {
                            "type": "string"
                        },
                        "serviceNowPassword": {
                            "type": "securestring"
                        }
                    },
                    "resources": [
                        {
                            "type": "Microsoft.Web/connections",
                            "apiVersion": "2018-07-01-preview",
                            "name": "[parameters('serviceNowConnectionName')]",
                            "location": "[parameters('location')]",
                            "properties": {
                                "api": {
                                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'service-now')]"
                                },
                                "displayName": "[parameters('serviceNowConnectionName')]",
                                "parameterValues": {
                                    "instance": "[[parameters('serviceNowInstance')]",
                                    "password": "[[parameters('serviceNowPassword')]",
                                    "username": "[[parameters('serviceNowUserName')]"
                                }
                            }
                        },
                        {
                            "type": "Microsoft.Logic/workflows",
                            "apiVersion": "2017-07-01",
                            "name": "[parameters('logicAppName')]",
                            "location": "[parameters('location')]",
                            "properties": {
                                "state": "Enabled",
                                "definition": {
                                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                                    "actions": {
                                        "Switch": {
                                            "cases": {
                                                "Case": {
                                                    "actions": {
                                                        "CreateCustomResource": {
                                                            "inputs": {
                                                                "body": {
                                                                    "properties": "@{addProperty(triggerBody().Body['properties'], 'myDynamicProperty', body('CreateTicket')?['result']?['sys_id'])}"
                                                                },
                                                                "statusCode": 200
                                                            },
                                                            "kind": "Http",
                                                            "runAfter": {
                                                                "CreateTicket": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Response"
                                                        },
                                                        "CreateTicket": {
                                                            "inputs": {
                                                                "body": {
                                                                    "correlation_id": "@{triggerOutputs()?['headers']?['x-ms-correlation-request-id']}",
                                                                    "cost_center": "Custom Association Costs",
                                                                    "install_status": "@{triggerBody().OperationType}",
                                                                    "name": "@{last(split(triggerOutputs()?['headers']?['x-ms-customproviders-extendedresource'], '/'))}",
                                                                    "owned_by": "Foo Bar"
                                                                },
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['service-now']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "path": "/api/now/v2/table/@{encodeURIComponent('cmdb_ci_infra_service')}",
                                                                "queries": {
                                                                    "sysparm_display_value": false,
                                                                    "sysparm_exclude_reference_link": true
                                                                }
                                                            },
                                                            "runAfter": {},
                                                            "type": "ApiConnection"
                                                        }
                                                    },
                                                    "case": "CREATE"
                                                }
                                            },
                                            "default": {
                                                "actions": {
                                                    "DefaultHttpResponse": {
                                                        "inputs": {
                                                            "statusCode": 200
                                                        },
                                                        "kind": "Http",
                                                        "runAfter": {},
                                                        "type": "Response"
                                                    }
                                                }
                                            },
                                            "expression": "@triggerBody().operationType",
                                            "runAfter": {},
                                            "type": "Switch"
                                        }
                                    },
                                    "parameters": {
                                        "$connections": {
                                            "defaultValue": {},
                                            "type": "Object"
                                        }
                                    },
                                    "triggers": {
                                        "CustomProviderWebhook": {
                                            "inputs": {
                                                "schema": {}
                                            },
                                            "kind": "Http",
                                            "type": "Request"
                                        }
                                    }
                                },
                                "parameters": {
                                    "$connections": {
                                        "value": {
                                            "service-now": {
                                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceNowConnectionName'))]",
                                                "connectionName": "service-now",
                                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'service-now')]"
                                            }
                                        }
                                    }
                                }
                            },
                            "dependsOn":[
                                "[[resourceId('Microsoft.Web/connections', parameters('serviceNowConnectionName'))]"
                            ]
                        },
                        {
                            "type": "Microsoft.CustomProviders/resourceProviders",
                            "apiVersion": "2018-09-01-preview",
                            "name": "[parameters('customResourceProviderName')]",
                            "location": "[parameters('location')]",
                            "properties": {
                                "resourceTypes": [
                                    {
                                        "name": "associations",
                                        "mode": "Secure",
                                        "routingType": "Webhook,Cache,Extension",
                                        "endpoint": "[[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/CustomProviderWebhook'), '2017-07-01').value]"
                                    }
                                ]
                            }
                        }
                    ],
                    "outputs": {
                        "customProviderResourceId": {
                            "type": "string",
                            "value": "[resourceId('Microsoft.CustomProviders/resourceProviders', parameters('customResourceProviderName'))]"
                        }
                    }
                },
                "parameters": {
                    "logicAppName": {
                        "value": "[parameters('logicAppName')]"
                    },
                    "serviceNowInstance": {
                        "value": "[parameters('serviceNowInstance')]"
                    },
                    "serviceNowUserName": {
                        "value": "[parameters('serviceNowUserName')]"
                    },
                    "serviceNowPassword": {
                        "value": "[parameters('serviceNowPassword')]"
                    }
                }
            }
        },
        {
            "type": "Microsoft.CustomProviders/associations",
            "apiVersion": "2018-09-01-preview",
            "name": "[parameters('associationName')]",
            "location": "global",
            "properties": {
                "targetResourceId": "[if(empty(parameters('customResourceProviderId')), reference('customProviderInfrastructureTemplate').outputs.customProviderResourceId.value, parameters('customResourceProviderId'))]",
                "myCustomInputProperty": "myCustomInputValue",
                "myCustomInputObject": {
                    "Property1": "Value1"
                }
            }
        }
    ],
    "outputs": {
        "customResource": {
            "type": "object",
            "value": "[reference(parameters('associationName'), '2018-09-01-preview', 'Full')]"
        }
    }
}