301-managed-application-servicenow-tickets/artifacts/ManagedAppZip/mainTemplate.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "type": "string",
            "allowedValues": [
                "australiaeast",
                "eastus",
                "westeurope"
            ],
            "metadata": {
                "description": "Location for the resources."
            }
        },
        "serviceNowInstance": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "The service now instance name."
            }
        },
        "serviceNowUserName": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "The service now user name."
            }
        },
        "serviceNowPassword": {
            "type": "securestring",
            "defaultValue": "",
            "metadata": {
                "description": "The service now password."
            }
        },
        "serviceNowConnectionName": {
            "type": "string",
            "defaultValue": "[uniqueString(resourceGroup().id)]",
            "metadata": {
                "description": "Name of the logic app service now connector to be created."
            }
        },
        "serviceRequestsLogicAppName": {
            "type": "string",
            "defaultValue": "[concat('serviceRequests-', uniqueString(resourceGroup().id))]",
            "metadata": {
                "description": "Name of the service request logic app to be created."
            }
        },
        "serviceTicketsLogicAppName": {
            "type": "string",
            "defaultValue": "[concat('serviceTickets-', uniqueString(resourceGroup().id))]",
            "metadata": {
                "description": "Name of the service ticket logic app to be created."
            }
        }
    },
    "variables": {
        "managedApplicationId": "[resourceGroup().managedBy]",
        "managedApplicationName": "[last(split(variables('managedApplicationId'), '/'))]",
        "applicationResourceGroupName": "[split(variables('managedApplicationId'), '/')[4]]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2018-07-01-preview",
            "name": "[parameters('serviceNowConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'service-now')]"
                },
                "displayName": "[parameters('serviceNowConnectionName')]",
                "parameterValues": {
                    "instance": "[parameters('serviceNowInstance')]",
                    "password": "[parameters('serviceNowPassword')]",
                    "username": "[parameters('serviceNowUserName')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('serviceRequestsLogicAppName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "ListManagedApplicationToken": {
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {},
                                "method": "POST",
                                "queries": {
                                    "api-version": "2018-09-01-preview"
                                },
                                "uri": "https://management.azure.com/@{parameters('managedApplicationId')}/listTokens"
                            },
                            "runAfter": {},
                            "type": "Http"
                        },
                        "Switch": {
                            "cases": {
                                "Case": {
                                    "actions": {
                                        "GetAssociatedResource": {
                                            "inputs": {
                                                "headers": {
                                                    "Authorization": "Bearer @{first(body('ListManagedApplicationToken').value).access_token}"
                                                },
                                                "method": "GET",
                                                "queries": {
                                                    "api-version": "2018-02-01"
                                                },
                                                "uri": "https://management.azure.com/@{triggerOutputs()['headers']?['x-ms-customproviders-extendedresource']}"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "CreateTicket": {
                                            "inputs": {
                                                "body": {
                                                    "correlation_id": "@{triggerOutputs()?['headers']?['x-ms-correlation-request-id']}",
                                                    "install_status": "@{triggerBody().OperationType}",
                                                    "name": "@{last(split(triggerOutputs()?['headers']?['x-ms-customproviders-extendedresource'], '/'))}",
                                                    "short_description": "Azure Resource: @{triggerOutputs()?['headers']?['x-ms-customproviders-extendedresource']}",
                                                    "sys_class_name": "@{body('GetAssociatedResource').sku.name}",
                                                    "asset_tag": "@{body('GetAssociatedResource').tags}",
                                                    "location": "@{body('GetAssociatedResource').location}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['service-now']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/api/now/v2/table/@{encodeURIComponent('cmdb_ci_infra_service')}",
                                                "queries": {
                                                    "sysparm_display_value": false,
                                                    "sysparm_exclude_reference_link": true
                                                }
                                            },
                                            "runAfter": {
                                                "GetAssociatedResource": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        },
                                        "CreateAssociationResponse": {
                                            "inputs": {
                                                "body": {
                                                    "properties": {
                                                        "ticketType": "@{coalesce(triggerBody()?.body?.properties?.ticketType, 'ChangeRequest')}",
                                                        "resourceType": "@{body('GetAssociatedResource').type}",
                                                        "resourceName": "@{body('GetAssociatedResource').name}",
                                                        "resourceLocation": "@{body('GetAssociatedResource').location}",
                                                        "serviceNowSystemId": "@{body('CreateTicket')?['result']?['sys_id']}"
                                                    }
                                                },
                                                "statusCode": 200
                                            },
                                            "kind": "Http",
                                            "runAfter": {
                                                "CreateTicket": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response"
                                        }
                                    },
                                    "case": "CREATE"
                                }
                            },
                            "default": {
                                "actions": {
                                    "GetAssociationResource": {
                                        "inputs": {
                                            "headers": {
                                                "Authorization": "Bearer @{first(body('ListManagedApplicationToken').value).access_token}"
                                            },
                                            "method": "GET",
                                            "queries": {
                                                "api-version": "2018-02-01"
                                            },
                                            "uri": "https://management.azure.com/@{triggerOutputs()['headers']?['x-ms-customproviders-extensionpath']}"
                                        },
                                        "runAfter": {},
                                        "type": "Http"
                                    },
                                    "UpdateServiceNowRecord": {
                                        "inputs": {
                                            "body": {
                                                "install_status": "@{triggerBody()['OperationType']}"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['service-now']['connectionId']"
                                                }
                                            },
                                            "method": "put",
                                            "path": "/api/now/v2/table/@{encodeURIComponent('cmdb_ci_azure_subscription')}/@{encodeURIComponent(body('GetAssociationResource').properties.systemId)}",
                                            "queries": {
                                                "sysparm_display_value": false,
                                                "sysparm_exclude_reference_link": true
                                            }
                                        },
                                        "runAfter": { 
                                            "GetAssociationResource": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection"
                                    },
                                    "DeleteAssociationResponse": {
                                        "inputs": {
                                            "statusCode": 200
                                        },
                                        "kind": "Http",
                                        "runAfter": {
                                            "UpdateServiceNowRecord": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Response"
                                    }
                                }
                            },
                            "expression": "@triggerBody().operationType",
                            "runAfter": {
                                "ListManagedApplicationToken": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Switch"
                        }
                    },
                    "parameters": {
                        "managedApplicationId": {
                            "defaultValue": "",
                            "type": "string"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "CustomProviderWebhook": {
                            "inputs": {
                                "schema": {}
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {
                    "managedApplicationId": {
                        "value": "[variables('managedApplicationId')]"
                    },
                    "$connections": {
                        "value": {
                            "service-now": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceNowConnectionName'))]",
                                "connectionName": "service-now",
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'service-now')]"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('serviceNowConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('serviceTicketsLogicAppName')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Switch": {
                            "cases": {
                                "Case": {
                                    "actions": {
                                        "ListServiceNowTickets": {
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['service-now']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/api/now/v2/table/@{encodeURIComponent('cmdb_ci_azure_subscription')}",
                                                "queries": {
                                                    "sysparm_display_value": false,
                                                    "sysparm_exclude_reference_link": true
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "ApiConnection"
                                        },
                                        "ConvertToAzureREST": {
                                            "inputs": {
                                                "from": "@body('ListServiceNowTickets')?['result']",
                                                "select": {
                                                    "name": "@item()?['sys_id']",
                                                    "properties": {
                                                        "description": "@item()?['short_description']",
                                                        "displayName": "@item()?['name']"
                                                    },
                                                    "type": "@triggerBody().resourceType",
                                                    "id": "@concat(triggerOutputs()?['headers']?['x-ms-customproviders-requestpath'], item()?['sys_id'])"
                                                }
                                            },
                                            "runAfter": {
                                                "ListServiceNowTickets": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Select"
                                        },
                                        "ListTicketsResponse": {
                                            "inputs": {
                                                "body": {
                                                    "value": "@body('ConvertToAzureREST')"
                                                },
                                                "statusCode": 200
                                            },
                                            "kind": "Http",
                                            "runAfter": {
                                                "ConvertToAzureREST": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response"
                                        }
                                    },
                                    "case": "LIST"
                                }
                            },
                            "default": {
                                "actions": {
                                    "DefaultResponse": {
                                        "inputs": {
                                            "statusCode": 200
                                        },
                                        "kind": "Http",
                                        "runAfter": {},
                                        "type": "Response"
                                    }
                                }
                            },
                            "expression": "@triggerBody().operationType",
                            "runAfter": {},
                            "type": "Switch"
                        }
                    },
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "CustomProviderWebhook": {
                            "inputs": {
                                "schema": {}
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "service-now": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('serviceNowConnectionName'))]",
                                "connectionName": "service-now",
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'service-now')]"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('serviceNowConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.CustomProviders/resourceProviders",
            "apiVersion": "2018-09-01-preview",
            "name": "public",
            "location": "[parameters('location')]",
            "properties": {
                "resourceTypes": [
                    {
                        "name": "associations",
                        "mode": "Secure",
                        "routingType": "Webhook,Cache,Extension",
                        "endpoint": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('serviceRequestsLogicAppName')), '/triggers/CustomProviderWebhook'), '2017-07-01').value]"
                    },
                    {
                        "name": "tickets",
                        "mode": "Secure",
                        "routingType": "Webhook",
                        "endpoint": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('serviceTicketsLogicAppName')), '/triggers/CustomProviderWebhook'), '2017-07-01').value]"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Resources/deployments",
            "apiVersion": "2017-05-10",
            "name": "roleAssignmentNestedTemplate",
            "resourceGroup": "[variables('applicationResourceGroupName')]",
            "properties": {
                "mode": "Incremental",
                "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "resources": [
                        {
                            "type": "Microsoft.Solutions/applications/providers/roleAssignments",
                            "apiVersion": "2019-04-01-preview",
                            "name": "[concat(variables('managedApplicationName'), '/Microsoft.Authorization/', guid(resourceGroup().id))]",
                            "properties": {
                                "roleDefinitionId": "[concat(subscription().id, '/providers/Microsoft.Authorization/roleDefinitions/', '8e3af657-a8ff-443c-a75c-2fe8c4bcb635')]",
                                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('serviceRequestsLogicAppName')), '2017-07-01', 'Full').identity.principalId]",
                                "scope": "[variables('managedApplicationId')]",
                                "principalType": "ServicePrincipal"
                            }
                        }
                    ]
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('serviceRequestsLogicAppName'))]"
            ]
        }
    ],
    "outputs": {}
}