quickstarts/microsoft.logic/logic-app-as2-send-receive/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.21.1.54444",
      "templateHash": "10266898431031197620"
    }
  },
  "parameters": {
    "contosoIntegrationAccountName": {
      "type": "string",
      "defaultValue": "ContosoIntegrationAccount",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Integration Account."
      }
    },
    "fabrikamIntegrationAccountName": {
      "type": "string",
      "defaultValue": "FabrikamIntegrationAccount",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Integration Account."
      }
    },
    "contosoAS2ReceiveLogicAppName": {
      "type": "string",
      "defaultValue": "Contoso-AS2Receive",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "fabrikamSalesAS2SendLogicAppName": {
      "type": "string",
      "defaultValue": "FabrikamSales-AS2Send",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "fabrikamFinanceAS2SendLogicAppName": {
      "type": "string",
      "defaultValue": "FabrikamFinance-AS2Send",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "fabrikamFinanceAS2ReceiveMDNLogicAppName": {
      "type": "string",
      "defaultValue": "FabrikamFinance-AS2ReceiveMDN",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "contoso_AS2_Connection_Name": {
      "type": "string",
      "defaultValue": "Contoso-AS2",
      "metadata": {
        "description": "Name of the AS2 connection."
      }
    },
    "fabrikam_AS2_Connection_Name": {
      "type": "string",
      "defaultValue": "Fabrikam-AS2",
      "metadata": {
        "description": "Name of the AS2 connection."
      }
    }
  },
  "variables": {
    "as2Id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'as2')]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/integrationAccounts",
      "apiVersion": "2019-05-01",
      "name": "[parameters('contosoIntegrationAccountName')]",
      "properties": {},
      "sku": {
        "name": "Standard"
      },
      "tags": {
        "displayName": "Contoso Integration Account"
      },
      "location": "[parameters('location')]"
    },
    {
      "type": "Microsoft.Logic/integrationAccounts",
      "apiVersion": "2019-05-01",
      "name": "[parameters('fabrikamIntegrationAccountName')]",
      "properties": {},
      "sku": {
        "name": "Standard"
      },
      "tags": {
        "displayName": "Fabrikam Integration Account"
      },
      "location": "[parameters('location')]"
    },
    {
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "name": "[format('{0}/{1}', parameters('contosoIntegrationAccountName'), 'Contoso')]",
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "99"
              },
              {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            ]
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "name": "[format('{0}/{1}', parameters('fabrikamIntegrationAccountName'), 'Contoso')]",
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "99"
              },
              {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            ]
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "name": "[format('{0}/{1}', parameters('contosoIntegrationAccountName'), 'FabrikamSales')]",
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "98"
              },
              {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              }
            ]
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "name": "[format('{0}/{1}', parameters('fabrikamIntegrationAccountName'), 'FabrikamSales')]",
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "98"
              },
              {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              }
            ]
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "name": "[format('{0}/{1}', parameters('contosoIntegrationAccountName'), 'FabrikamFinance')]",
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "97"
              },
              {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              }
            ]
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/integrationAccounts/partners",
      "apiVersion": "2016-06-01",
      "name": "[format('{0}/{1}', parameters('fabrikamIntegrationAccountName'), 'FabrikamFinance')]",
      "properties": {
        "partnerType": "B2B",
        "content": {
          "b2b": {
            "businessIdentities": [
              {
                "qualifier": "ZZ",
                "value": "97"
              },
              {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              }
            ]
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/integrationAccounts/agreements",
      "apiVersion": "2016-06-01",
      "name": "[format('{0}/{1}', parameters('contosoIntegrationAccountName'), 'Contoso-FabrikamSales')]",
      "properties": {
        "hostPartner": "Contoso",
        "guestPartner": "FabrikamSales",
        "hostIdentity": {
          "qualifier": "AS2Identity",
          "value": "Contoso"
        },
        "guestIdentity": {
          "qualifier": "AS2Identity",
          "value": "FabrikamSales"
        },
        "agreementType": "AS2",
        "content": {
          "aS2": {
            "receiveAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMdn": false,
                  "signMdn": false,
                  "sendMdnAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMdnIfOptional": false,
                  "sendInboundMdnToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNrrForInboundEncodedMessages": false,
                  "enableNrrForInboundDecodedMessages": false,
                  "enableNrrForOutboundMdn": false,
                  "enableNrrForOutboundEncodedMessages": false,
                  "enableNrrForOutboundDecodedMessages": false,
                  "enableNrrForInboundMdn": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMdnNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            },
            "sendAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMdn": false,
                  "signMdn": false,
                  "sendMdnAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMdnIfOptional": false,
                  "sendInboundMdnToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNrrForInboundEncodedMessages": false,
                  "enableNrrForInboundDecodedMessages": false,
                  "enableNrrForOutboundMdn": false,
                  "enableNrrForOutboundEncodedMessages": false,
                  "enableNrrForOutboundDecodedMessages": false,
                  "enableNrrForInboundMdn": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMdnNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/integrationAccounts/agreements",
      "apiVersion": "2016-06-01",
      "name": "[format('{0}/{1}', parameters('fabrikamIntegrationAccountName'), 'FabrikamSales-Contoso')]",
      "properties": {
        "hostPartner": "FabrikamSales",
        "guestPartner": "Contoso",
        "hostIdentity": {
          "qualifier": "AS2Identity",
          "value": "FabrikamSales"
        },
        "guestIdentity": {
          "qualifier": "AS2Identity",
          "value": "Contoso"
        },
        "agreementType": "AS2",
        "content": {
          "aS2": {
            "receiveAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMdn": false,
                  "signMdn": false,
                  "sendMdnAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMdnIfOptional": false,
                  "sendInboundMdnToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNrrForInboundEncodedMessages": false,
                  "enableNrrForInboundDecodedMessages": false,
                  "enableNrrForOutboundMdn": false,
                  "enableNrrForOutboundEncodedMessages": false,
                  "enableNrrForOutboundDecodedMessages": false,
                  "enableNrrForInboundMdn": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMdnNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              }
            },
            "sendAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMdn": true,
                  "signMdn": false,
                  "sendMdnAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMdnIfOptional": false,
                  "sendInboundMdnToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNrrForInboundEncodedMessages": false,
                  "enableNrrForInboundDecodedMessages": false,
                  "enableNrrForOutboundMdn": false,
                  "enableNrrForOutboundEncodedMessages": false,
                  "enableNrrForOutboundDecodedMessages": false,
                  "enableNrrForInboundMdn": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMdnNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamSales"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/integrationAccounts/agreements",
      "apiVersion": "2016-06-01",
      "name": "[format('{0}/{1}', parameters('contosoIntegrationAccountName'), 'Contoso-FabrikamFinance')]",
      "properties": {
        "hostPartner": "Contoso",
        "guestPartner": "FabrikamFinance",
        "hostIdentity": {
          "qualifier": "AS2Identity",
          "value": "Contoso"
        },
        "guestIdentity": {
          "qualifier": "AS2Identity",
          "value": "FabrikamFinance"
        },
        "agreementType": "AS2",
        "content": {
          "aS2": {
            "receiveAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMdn": false,
                  "signMdn": false,
                  "sendMdnAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMdnIfOptional": false,
                  "sendInboundMdnToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNrrForInboundEncodedMessages": false,
                  "enableNrrForInboundDecodedMessages": false,
                  "enableNrrForOutboundMdn": false,
                  "enableNrrForOutboundEncodedMessages": false,
                  "enableNrrForOutboundDecodedMessages": false,
                  "enableNrrForInboundMdn": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMdnNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            },
            "sendAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMdn": false,
                  "signMdn": false,
                  "sendMdnAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMdnIfOptional": false,
                  "sendInboundMdnToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNrrForInboundEncodedMessages": false,
                  "enableNrrForInboundDecodedMessages": false,
                  "enableNrrForOutboundMdn": false,
                  "enableNrrForOutboundEncodedMessages": false,
                  "enableNrrForOutboundDecodedMessages": false,
                  "enableNrrForInboundMdn": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMdnNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('contosoAS2ReceiveLogicAppName')]",
      "location": "[parameters('location')]",
      "tags": {
        "displayName": "Contoso AS2 Receive"
      },
      "properties": {
        "state": "Enabled",
        "integrationAccount": {
          "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName'))]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Check_MDN_Expected": {
              "type": "If",
              "expression": "@equals(body('Decode_AS2_message')?['AS2Message']?['MdnExpected'], 'Expected')",
              "actions": {
                "Check_MDN_Type": {
                  "type": "If",
                  "expression": "@equals(body('Decode_AS2_message')?['OutgoingMdn']?['MdnType'], 'Async')",
                  "actions": {
                    "Send_200_OK_for_Async_MDN": {
                      "type": "Response",
                      "inputs": {
                        "statusCode": 200
                      }
                    },
                    "Send_Async_MDN": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@{body('Decode_AS2_message')?['OutgoingMdn']?['ReceiptDeliveryOption']}",
                        "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                        "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])"
                      },
                      "runAfter": {
                        "Send_200_OK_for_Async_MDN": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Send_Sync_MDN": {
                        "type": "Response",
                        "inputs": {
                          "statusCode": 200,
                          "headers": "@body('Decode_AS2_message')?['OutgoingMdn']?['OutboundHeaders']",
                          "body": "@base64ToBinary(body('Decode_AS2_message')?['OutgoingMdn']?['Content'])"
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Decode_AS2_message": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_200_OK": {
                    "type": "Response",
                    "inputs": {
                      "statusCode": 200
                    }
                  }
                }
              }
            },
            "Decode_AS2_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "[format('https://logic-apis-{0}.azure-apim.net/apim/as2', parameters('location'))]"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['as2']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()",
                "path": "/decode",
                "headers": "@triggerOutputs()['headers']"
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http"
            }
          },
          "contentVersion": "1.0.0.0"
        },
        "parameters": {
          "$connections": {
            "value": {
              "as2": {
                "id": "[variables('as2Id')]",
                "connectionId": "[format('{0}/providers/Microsoft.Web/connections/{1}', resourceGroup().id, parameters('contoso_AS2_Connection_Name'))]",
                "connectionName": "[parameters('contoso_AS2_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('contoso_AS2_Connection_Name'))]",
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('fabrikamSalesAS2SendLogicAppName')]",
      "location": "[parameters('location')]",
      "tags": {
        "displayName": "Fabrikam Sales AS2 Send"
      },
      "properties": {
        "state": "Enabled",
        "integrationAccount": {
          "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "HTTP": {
              "inputs": {
                "method": "POST",
                "uri": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows', parameters('contosoAS2ReceiveLogicAppName')), '2019-05-01').value]",
                "headers": {
                  "AS2-From": "FabrikamSales",
                  "AS2-To": "Contoso",
                  "Message-Id": "@guid()",
                  "content-type": "text/plain"
                },
                "body": "Fabrikam Sales - sample message"
              },
              "type": "Http"
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "contentVersion": "1.0.0.0"
        },
        "parameters": {
          "$connections": {
            "value": {
              "as2": {
                "id": "[variables('as2Id')]",
                "connectionId": "[format('{0}/providers/Microsoft.Web/connections/{1}', resourceGroup().id, parameters('fabrikam_AS2_Connection_Name'))]",
                "connectionName": "[parameters('fabrikam_AS2_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', parameters('contosoAS2ReceiveLogicAppName'))]",
        "[resourceId('Microsoft.Web/connections', parameters('fabrikam_AS2_Connection_Name'))]",
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('fabrikamFinanceAS2SendLogicAppName')]",
      "location": "[parameters('location')]",
      "tags": {
        "displayName": "Fabrikam Finance AS2 Send"
      },
      "properties": {
        "state": "Enabled",
        "integrationAccount": {
          "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Encode_to_AS2_message": {
              "inputs": {
                "body": "Fabrikam Finance - sample message",
                "host": {
                  "api": {
                    "runtimeUrl": "[format('https://logic-apis-{0}.azure-apim.net/apim/as2', parameters('location'))]"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['as2']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/encode",
                "queries": {
                  "as2From": "FabrikamFinance",
                  "as2To": "Contoso"
                }
              },
              "type": "ApiConnection"
            },
            "HTTP": {
              "inputs": {
                "body": "@base64ToBinary(body('Encode_to_AS2_message')?['AS2Message']?['Content'])",
                "headers": "@body('Encode_to_AS2_message')?['AS2Message']?['OutboundHeaders']",
                "method": "POST",
                "uri": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows', parameters('contosoAS2ReceiveLogicAppName')), '2019-05-01').value]"
              },
              "runAfter": {
                "Encode_to_AS2_message": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "contentVersion": "1.0.0.0"
        },
        "parameters": {
          "$connections": {
            "value": {
              "as2": {
                "id": "[variables('as2Id')]",
                "connectionId": "[format('{0}/providers/Microsoft.Web/connections/{1}', resourceGroup().id, parameters('fabrikam_AS2_Connection_Name'))]",
                "connectionName": "[parameters('fabrikam_AS2_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', parameters('contosoAS2ReceiveLogicAppName'))]",
        "[resourceId('Microsoft.Web/connections', parameters('fabrikam_AS2_Connection_Name'))]",
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('fabrikamFinanceAS2ReceiveMDNLogicAppName')]",
      "location": "[parameters('location')]",
      "tags": {
        "displayName": "Fabrikam Finance AS2 Receive MDN"
      },
      "properties": {
        "state": "Enabled",
        "integrationAccount": {
          "id": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Decode_AS2_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "[format('https://logic-apis-{0}.azure-apim.net/apim/as2', parameters('location'))]"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['as2']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()",
                "path": "/decode",
                "headers": "@triggerOutputs()['headers']"
              }
            },
            "Response": {
              "inputs": {
                "statusCode": 200
              },
              "runAfter": {
                "Decode_AS2_message": [
                  "Succeeded"
                ]
              },
              "type": "Response"
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http"
            }
          },
          "contentVersion": "1.0.0.0"
        },
        "parameters": {
          "$connections": {
            "value": {
              "as2": {
                "id": "[variables('as2Id')]",
                "connectionId": "[format('{0}/providers/Microsoft.Web/connections/{1}', resourceGroup().id, parameters('fabrikam_AS2_Connection_Name'))]",
                "connectionName": "[parameters('fabrikam_AS2_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', parameters('contosoAS2ReceiveLogicAppName'))]",
        "[resourceId('Microsoft.Web/connections', parameters('fabrikam_AS2_Connection_Name'))]",
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Logic/integrationAccounts/agreements",
      "apiVersion": "2016-06-01",
      "name": "[format('{0}/{1}', parameters('fabrikamIntegrationAccountName'), 'FabrikamFinance-Contoso')]",
      "properties": {
        "hostPartner": "FabrikamFinance",
        "guestPartner": "Contoso",
        "hostIdentity": {
          "qualifier": "AS2Identity",
          "value": "FabrikamFinance"
        },
        "guestIdentity": {
          "qualifier": "AS2Identity",
          "value": "Contoso"
        },
        "agreementType": "AS2",
        "content": {
          "aS2": {
            "receiveAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMdn": false,
                  "signMdn": false,
                  "sendMdnAsynchronously": false,
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMdnIfOptional": false,
                  "sendInboundMdnToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNrrForInboundEncodedMessages": false,
                  "enableNrrForInboundDecodedMessages": false,
                  "enableNrrForOutboundMdn": false,
                  "enableNrrForOutboundEncodedMessages": false,
                  "enableNrrForOutboundDecodedMessages": false,
                  "enableNrrForInboundMdn": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMdnNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              }
            },
            "sendAgreement": {
              "protocolSettings": {
                "messageConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": true,
                  "keepHttpConnectionAlive": true,
                  "unfoldHttpHeaders": true
                },
                "acknowledgementConnectionSettings": {
                  "ignoreCertificateNameMismatch": false,
                  "supportHttpStatusCodeContinue": false,
                  "keepHttpConnectionAlive": false,
                  "unfoldHttpHeaders": false
                },
                "mdnSettings": {
                  "needMdn": true,
                  "signMdn": false,
                  "sendMdnAsynchronously": true,
                  "receiptDeliveryUrl": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows', parameters('fabrikamFinanceAS2ReceiveMDNLogicAppName')), '2019-05-01').value]",
                  "dispositionNotificationTo": "http://localhost",
                  "signOutboundMdnIfOptional": false,
                  "sendInboundMdnToMessageBox": true,
                  "micHashingAlgorithm": "SHA2256"
                },
                "securitySettings": {
                  "overrideGroupSigningCertificate": false,
                  "enableNrrForInboundEncodedMessages": false,
                  "enableNrrForInboundDecodedMessages": false,
                  "enableNrrForOutboundMdn": false,
                  "enableNrrForOutboundEncodedMessages": false,
                  "enableNrrForOutboundDecodedMessages": false,
                  "enableNrrForInboundMdn": false
                },
                "validationSettings": {
                  "overrideMessageProperties": false,
                  "encryptMessage": false,
                  "signMessage": false,
                  "compressMessage": false,
                  "checkDuplicateMessage": false,
                  "interchangeDuplicatesValidityDays": 5,
                  "checkCertificateRevocationListOnSend": false,
                  "checkCertificateRevocationListOnReceive": false,
                  "encryptionAlgorithm": "DES3"
                },
                "envelopeSettings": {
                  "messageContentType": "text/plain",
                  "transmitFileNameInMimeHeader": false,
                  "fileNameTemplate": "%FILE().ReceivedFileName%",
                  "suspendMessageOnFileNameGenerationError": true,
                  "autogenerateFileName": false
                },
                "errorSettings": {
                  "suspendDuplicateMessage": false,
                  "resendIfMdnNotReceived": false
                }
              },
              "senderBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "FabrikamFinance"
              },
              "receiverBusinessIdentity": {
                "qualifier": "AS2Identity",
                "value": "Contoso"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', parameters('fabrikamFinanceAS2ReceiveMDNLogicAppName'))]",
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('contoso_AS2_Connection_Name')]",
      "location": "[parameters('location')]",
      "properties": {
        "api": {
          "id": "[variables('as2Id')]"
        },
        "displayName": "Contoso AS2 connection",
        "parameterValues": {
          "integrationAccountId": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName'))]",
          "integrationAccountUrl": "[listCallbackUrl(resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName')), '2019-05-01').value]"
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('contosoIntegrationAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('fabrikam_AS2_Connection_Name')]",
      "location": "[parameters('location')]",
      "properties": {
        "api": {
          "id": "[variables('as2Id')]"
        },
        "displayName": "Fabrikam AS2 connection",
        "parameterValues": {
          "integrationAccountId": "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]",
          "integrationAccountUrl": "[listCallbackUrl(resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName')), '2019-05-01').value]"
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Logic/integrationAccounts', parameters('fabrikamIntegrationAccountName'))]"
      ]
    }
  ]
}