BackupReport/Vinoth-LogicApp-test.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_test55_logicapp_name": {
            "defaultValue": "test55-logicapp",
            "type": "String"
        },
        "connections_azuremonitorlogs_externalid": {
			"defaultValue": "[concat(resourceGroup().id,'/providers/Microsoft.Web/connections/azuremonitorlogs')]",
			"type": "String"
		},
		"connections_office365_externalid": {
			"defaultValue": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/office365')]",
			"type": "String"
		},
		"workspace": {
			"type": "String"
		},
		"location": {
			"defaultValue": "eastus",
			"type": "String"
		},
		"frequency": {
			"defaultValue": "Minute",
			"type": "String"
		},
		"emailId": {
			"type": "String"
		}
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_test55_logicapp_name')]",
            "location": "southeastasia",
            "tags": {
                " Owner": "vijeya",
                "Purpose": "Testing",
                "isMABUsed ": "Yes"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
								"frequency": "[parameters('frequency')]",
                                "interval": 10
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Run_query_and_visualize_results": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "xyz_getVaults(startofday(ago(3d)), startofday(ago(1d)), \"*\", \"*\",\"*\",\"*\", false)",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/visualizeQuery",
                                "queries": {
                                    "resourcegroups": "testrg",
									"resourcename": "[parameters('workspace')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "172424a4-d65f-421e-a8de-197d98aabeba",
                                    "timerange": "Set in query",
                                    "visType": "Html Table"
                                }
                            }
                        },
                        "Run_query_and_visualize_results_2": {
                            "runAfter": {
                                "Run_query_and_visualize_results": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "union workspace('LaBvtWorkspace-DontUse').CoreAzureBackup,\nworkspace('LaBVTWorkspace-DPM-DontUse'). CoreAzureBackup\n| where TimeGenerated >= ago(3d)\n| where OperationName == \"Vault\"\n| distinct VaultName",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/visualizeQuery",
                                "queries": {
                                    "resourcegroups": "testrg",
                                    "resourcename": "[parameters('workspace')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "172424a4-d65f-421e-a8de-197d98aabeba",
                                    "timerange": "Set in query",
                                    "visType": "Html Table"
                                }
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Run_query_and_visualize_results_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{base64ToString(body('Run_query_and_visualize_results')?['attachmentContent'])}@{base64ToString(body('Run_query_and_visualize_results_2')?['attachmentContent'])}</p>",
                                    "Subject": "test logic-app",
									"To": "[parameters('emailId')]"                                
									},
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {                        
						"value": {
							"azuremonitorlogs": {
								"connectionId": "[parameters('connections_azuremonitorlogs_externalid')]",
								"connectionName": "azuremonitorlogs",
								"id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
							},
							"office365": {
								"connectionId": "[parameters('connections_office365_externalid')]",
								"connectionName": "office365",
								"id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
							}
                    }
                }
            }
        }
    ]
}