201-managed-applications-post-deployment-updates/artifacts/ManagedAppZip/mainTemplate.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "type": "string",
            "allowedValues": [
                "australiaeast",
                "eastus",
                "westeurope"
            ],
            "metadata": {
                "description": "Location for the resources."
            }
        },
        "logicAppName": {
            "type": "string",
            "defaultValue": "[uniqueString(resourceGroup().id)]",
            "metadata": {
                "description": "Name of the logic app to be created."
            }
        },
        "customResourceName": {
            "type": "string",
            "defaultValue": "[uniqueString(resourceGroup().id)]",
            "metadata": {
                "description": "Name of the custom resource to be created."
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Switch": {
                            "cases": {
                                "Case": {
                                    "actions": {
                                        "DeployStorageAccount": {
                                            "inputs": {
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "body": {
                                                    "properties": {
                                                        "mode": "Incremental",
                                                        "template": {
                                                            "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                                                            "contentVersion": "1.0.0.0",
                                                            "parameters": {
                                                                "location": {
                                                                    "type": "string",
                                                                    "defaultValue": "[resourceGroup().location]",
                                                                    "metadata": {
                                                                        "description": "Location for all resources."
                                                                    }
                                                                },
                                                                "storageAccountIdentifier": {
                                                                    "type": "string",
                                                                    "defaultValue": "[[uniqueString(newGuid())]"
                                                                }
                                                            },
                                                            "resources": [
                                                                {
                                                                    "type": "Microsoft.Storage/storageAccounts",
                                                                    "apiVersion": "2018-11-01",
                                                                    "name": "[[parameters('storageAccountIdentifier')]",
                                                                    "location": "[[parameters('location')]",
                                                                    "sku": {
                                                                        "name": "Standard_LRS"
                                                                    },
                                                                    "kind": "Storage",
                                                                    "properties": {},
                                                                    "tags": {
                                                                        "myCustomTag": "@{triggerBody().Body.properties.myCustomInputProperty}"
                                                                    }
                                                                }
                                                            ],
                                                            "outputs": {}
                                                        }
                                                    }
                                                },
                                                "method": "PUT",
                                                "queries": {
                                                    "api-version": "2019-08-01"
                                                },
                                                "uri": "https://management.azure.com/@{parameters('managedResourceGroup')}/providers/Microsoft.Resources/deployments/@{guid()}"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "CreateCustomResourceResponse": {
                                            "inputs": {
                                                "body": {
                                                    "properties": "@addProperty(triggerBody().Body['properties'], 'storageType', body('DeployStorageAccount').sku.name)"
                                                },
                                                "statusCode": 200
                                            },
                                            "kind": "Http",
                                            "runAfter": {
                                                "DeployStorageAccount": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Response"
                                        }
                                    },
                                    "case": "CREATE"
                                }
                            },
                            "default": {
                                "actions": {
                                    "DeleteCustomResourceResponse": {
                                        "inputs": {
                                            "statusCode": 200
                                        },
                                        "kind": "Http",
                                        "runAfter": {},
                                        "type": "Response"
                                    }
                                }
                            },
                            "expression": "@triggerBody().operationType",
                            "runAfter": {},
                            "type": "Switch"
                        }
                    },
                    "parameters": {
                        "managedResourceGroup":{
                            "defaultValue": "",
                            "type": "string"
                        }
                    },
                    "triggers": {
                        "CustomProviderWebhook": {
                            "inputs": {
                                "schema": {}
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {
                    "managedResourceGroup": {
                        "value": "[resourceGroup().id]"
                    }
                }
            }
        },
        {
            "type": "Microsoft.CustomProviders/resourceProviders",
            "apiVersion": "2018-09-01-preview",
            "name": "public",
            "location": "[parameters('location')]",
            "properties": {
                "resourceTypes": [
                    {
                        "name": "myCustomStorageAccounts",
                        "mode": "Secure",
                        "routingType": "Webhook,Cache",
                        "endpoint": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/CustomProviderWebhook'), '2017-07-01').value]"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.CustomProviders/resourceProviders/myCustomStorageAccounts",
            "apiVersion": "2018-09-01-preview",
            "name": "[concat('public/', parameters('customResourceName'))]",
            "location": "[parameters('location')]",
            "properties": {
                "myCustomInputProperty": "myCustomInputValue",
                "myCustomInputObject": {
                    "Property1": "Value1"
                }
            },
            "dependsOn": [
                "Microsoft.CustomProviders/resourceProviders/public"
            ]
        },
        {
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2019-04-01-preview",
            "name": "[guid(resourceGroup().id)]",
            "properties": {
                "roleDefinitionId": "[concat(subscription().id, '/providers/Microsoft.Authorization/roleDefinitions/', '8e3af657-a8ff-443c-a75c-2fe8c4bcb635')]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2017-07-01', 'Full').identity.principalId]",
                "scope": "[resourceGroup().id]",
                "principalType": "ServicePrincipal"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
            ]
        }
    ],
    "outputs": {}
}