201-managed-application-usingmsi-for-management/artifacts/ManagedAppZip/mainTemplate.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]"
        },
        "logicAppName": {
            "type": "string"
        },
        "rolenameguid": {
            "type": "string",
            "defaultValue": "[newGuid()]"
        },
        "storageAccountName": {
            "type": "string"
        },
        "storageAccountType": {
            "type": "string",
            "defaultValue": "Standard_LRS"
        }
    },
    "variables": {
        "customResourceProviderName": "public",
        "storageBlobOwnerId":  "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', 'b7e6dc6d-f1e8-4753-8033-0f276bb0955b')]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "HTTP_Request_To_create_Container_in_provided_storage_account": {
                            "inputs": {
                                "authentication": {
                                    "audience": "https://@{coalesce(triggerBody()?['properties']?['storageAccountName'], parameters('storagename'))}.blob.core.windows.net",
                                    "type": "ManagedServiceIdentity"
                                },
                                "headers": {
                                    "x-ms-version": "2017-11-09"
                                },
                                "method": "PUT",
                                "uri": "https://@{coalesce(triggerBody()?['properties']?['storageAccountName'],parameters('storagename'))}.blob.core.windows.net/@{triggerBody()?['properties']?['containerName']}?restype=container"
                            },
                            "runAfter": {},
                            "type": "Http"
                        },
                        "Initialize_variable": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SuccessJson",
                                        "type": "string",
                                        "value": "\"{ 'ContainerName' : '@{triggerBody()?['properties']?['containerName']}' , 'Status' : 'Created'}\""
                                    }
                                ]
                            },
                            "runAfter": {
                                "HTTP_Request_To_create_Container_in_provided_storage_account": [
                                    "Succeeded",
                                    "Failed"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Response": {
                            "inputs": {
                                "body": "@json(coalesce(body('HTTP_Request_To_create_Container_in_provided_storage_account'), variables('SuccessJson')))",
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "statusCode": "@outputs('HTTP_Request_To_create_Container_in_provided_storage_account')['statusCode']"
                            },
                            "kind": "Http",
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "storagename": {
                            "defaultValue": "[parameters('storageaccountname')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "CustomProviderWebhook": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "properties": {
                                            "properties": {
                                                "containerName": {
                                                    "type": "string"
                                                },
                                                "storageAccountName": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {}
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "name": "[parameters('storageAccountName')]",
            "apiVersion": "2018-02-01",
            "location": "[parameters('location')]",
            "sku": {
                "name": "[parameters('storageAccountType')]"
            },
            "kind": "Storage",
            "dependsOn": [
                "[parameters('logicAppName')]"
            ]
        },
        {
            "type": "Microsoft.CustomProviders/resourceProviders",
            "apiVersion": "2018-09-01-preview",
            "name": "[variables('customResourceProviderName')]",
            "location": "[parameters('location')]",
            "properties": {
                "actions": [
                    {
                        "name": "createContainer",
                        "mode": "Secure",
                        "routingType": "Proxy",
                        "endpoint": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/CustomProviderWebhook'), '2017-07-01').value]"
                    }
                ]
            },
            "dependsOn": [
                "[parameters('logicAppName')]"
            ]
        },
        {
            "apiVersion": "2018-07-01",
            "type": "Microsoft.Authorization/roleAssignments",
            "name": "[parameters('rolenameguid')]",
            "properties": {
                "roleDefinitionId": "[variables('storageBlobOwnerId')]",
                "principalId": "[reference(parameters('logicAppName'), '2017-07-01', 'Full').identity.principalId]",
                "scope": "[resourceGroup().id]"
            },
             "dependsOn": [
                "[parameters('storageAccountName')]"
            ]
        }
    ],
    "outputs": {
    }
}